body {
    text-align: center;
}

ol#steps {
    list-style-position: inside;
    margin-top: 100px;
}

ol#steps li {
    text-align: left;
}

.form-horizontal .control-label {
    text-align: left;
}

#sortable label {
    display: inline;
}
